<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <%= render @workout %>
    <div class="d-flex">
      <%= link_to 'Edit', edit_workout_path(@workout), class: "btn btn-primary me-1" %>
      <%= button_to 'Delete', workout_path(@workout), method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>
