<nav class="navbar navbar-light bg-light me-3">

  <a class="navbar-brand ms-3" href="#">Split</a>
  <form class="form-inline">
    <%= link_to "View Workouts", workouts_path, class: "btn btn-outline-secondary" %>
    <%= link_to "About", about_path, class: "btn btn-outline-secondary" %>
  </form>
</nav>